body {
  min-height: 100vh;
  background: var(--bg-color);
  overflow: hidden;

}


:root {
    --text-primary: rgb(174, 171, 171);
    --primary-blue: #007bff;
    --bg-color: #eff4fa
}


aside {
  display: flex;
  flex-wrap: nowrap;
  height: 100vh;
  max-height: 100vh;

}

.top-nav {
    height: 55px;
}

.top-nav .title {
    font-weight: 300;
}



.dropdown-toggle { outline: 0; }

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: .25rem .5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, .65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, .85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, .85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold { font-weight: 600; }
.lh-tight { line-height: 1.25; }


.nav-pills .nav-link.active {
    background-color: transparent;
    border-right: 3px solid var(--primary-blue);
    color: var(--primary-blue);
    border-radius: 0;
}

.nav .nav-link {
    color: var(--text-primary);
}

.nav {
    height:  100vh;
    flex-wrap: unset;
}

.form-group {
    position: relative;
}

.form-group svg {
    position: absolute;
    right: 5px;
    top: 5px;
    color: var(--text-primary);
    width: 17px;

}


aside svg {
    width: 18px;
}


.nav-link {
    padding: 0.1rem 1rem;
    margin-bottom: 0.4rem;
}

.notification-bubble {


    padding: 10px 5px 2px 6px;
    background: var(--primary-blue);
    position: absolute;
    padding: 7px 5px 0px 2px;
    border-radius: 50%;
    right: 14px;
    top: 5px;
}


#data-table tr {
    border: none;
}

.table-header {
    background: var(--bg-color);
}

#data-table_filter input {
    border: 1px solid var(--bg-color);
    margin: 2rem 2rem 0 2rem;
    border-radius: 5px;
}

.table-row {
    height: 4rem;
    padding-left: 2rem;
}
#data-table thead {
    color: var(--text-primary);
    font-size: 15px;
}

#data-table td {
    font-size: 13px;
}

#data-table .action-icons {
    color: var(--text-primary);
    font-size: 20px;
}

#data-table tbody td {
    border-bottom: 1px solid var(--bg-color);
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 1rem;
}


.text-grey {
    color: var(--text-primary);
}

.rad-7 {
    border-radius: 7px;
}

.modal-section-divider {
    background: var(--bg-color);
    padding: 1rem;
    margin: 0;
}


